@media all and (max-width:480px) {
    html {
        float: none;
    }
}
html{
    text-align: center;
    background-color:white;
    
}

    



/* Slideshow container */
.slideshow-container {
    max-width: 300px;
    position: relative;
    margin: auto;
    border: olivedrab 3px outset;
    width:100%;
    padding: 40px;
    border: 1px solid #f1f1f1;
    
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
header {
    margin-top: 50px;
    margin-bottom: 50px;
    border-right-width: 2px;
    border-right-style: solid;
    border-top-width: 2px;
    border-top-style: solid;
    border-left-width: 2px;
    border-left-style: solid;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    background: transparent url('cover-octobre.jpg') no-repeat;
    border-radius: 20px;
    
}
.h1header {
    color: papayawhip;
}

#navigation {
	width: 230px;
	height: 49px;
    text-align: center;
    background: url(navigation-bg.jpg) no-repeat left top;
    margin-left: calc(50vw - 113px); /* vw longeur d'ecran et vh pour la hauteur de l'ecran */
    display: 50%;
    border-radius: 100px;

    
    
    

    list-style: none;
} 
#navigation ul {
	list-style: none;

} 
#navigation ul li {
	display: inline;
  margin: 0px;
  
} 
#navigation ul li a {
	height:33px;
	display: block;
	float: left;
	padding: 17px 15px 0 15px;
	font: bold 12px Arial;
	color: #FFF;
	text-decoration: none;
  background: url(navigation-separator.png) no-repeat  left, center ;
  
} 

#navigation ul li a:hover {
	color:#FFF;
	background: url(navigation-hover.png) repeat-x left top;
}

#navigation ul li#active a {
	color:#FFF;
	background: url(navigation-hover.png) repeat-x left top;
}

.menuBTN {
  margin-top: 15px;
  width:100%;
  padding: 30px;
  border: 1px solid #f1f1f1;
  background: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.deco {
  margin-top: 15px;
  width:100%;
  padding: 30px;
  border: 1px solid #f1f1f1;
  background: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.affiche {
  width:300px;
  padding: 40px;
  border: 1px solid #f1f1f1;
  background: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  margin-left: calc(50vw - 200px); /* vw longeur d'ecran et vh pour la hauteur de l'ecran */
  margin-top: 25px;
}
.DBBD {
  
  padding: 40px;
  border: 1px solid #f1f1f1;
  background: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
 
}

